ul {
    position: absolute;
    background-color: #292a2d;
    color: #d2ddd9;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    min-width: 150px;
    height: auto;
    /* margin: 0; */

    list-style: none;
    box-shadow: 0 0 20px 0 #ccc;
    opacity: 1;
    transition: opacity 0.5s linear;
    z-index: 999999;
}